<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <title>@ViewBag.Title - Backend5</title>
</head>
<body>
<header class="navbar navbar-expand-md navbar-dark" style="background-color: #222222;">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Backend5</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarContent" aria-controls="navbarContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Hospitals" asp-action="Index">Hospitals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Labs" asp-action="Index">Labs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Doctors" asp-action="Index">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Patients" asp-action="Index">Patients</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="container pb-1 pt-3">
    @RenderBody()
</main>
<footer class="border-top container pt-3">
    © @DateTime.Now.Year - Backend5
</footer>
</body>
</html>
