@model Lab5.ViewModels.Hospitals.HospitalCreatingViewModel
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
<h3>Hospital</h3>
<form asp-controller="Hospitals" asp-action="Create">
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <!-- Name -->
    <div class="form-group">
        <label asp-for="Name" class="font-weight-bold"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name"></span>
    </div>
    
    <!-- Address -->
    <div class="form-group">
        <label asp-for="Address" class="font-weight-bold"></label>
        <input asp-for="Address" class="form-control"/>
        <span asp-validation-for="Address"></span>
    </div>
    
    <!-- Phones -->
    <div class="form-group">
        <label asp-for="Phones" class="font-weight-bold"></label>
        <input asp-for="Phones" class="form-control"/>
        <span asp-validation-for="Phones"></span>
    </div>
    
    <!-- Submit -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
