@model Lab5.ViewModels.Doctors.DoctorCreatingViewModel
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
<h3>Doctor</h3>
<form asp-controller="Doctors" asp-action="Create">
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <!-- Name -->
    <div class="form-group">
        <label asp-for="Name" class="font-weight-bold"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name"></span>
    </div>
    
    <!-- Speciality -->
    <div class="form-group">
        <label asp-for="Speciality" class="font-weight-bold"></label>
        <input asp-for="Speciality" class="form-control"/>
        <span asp-validation-for="Speciality"></span>
    </div>
    
    <!-- Hospital -->
    <div class="form-group">
        <label class="font-weight-bold">Hospital</label>
        <select asp-for="HospitalId" class="form-control">
            <option></option>
            @foreach (var hospital in Model.Hospitals)
            {
                <option value="@hospital.Id">@hospital.Name</option>
            }
        </select>
        <span asp-validation-for="HospitalId"></span>
    </div>
    
    <!-- Submit -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>