@model Lab5.Models.Laboratory
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
Laboratory
<form asp-controller="Labs" asp-action="Edit" asp-route-id="@Model.Id">
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <!-- Name -->
    <div class="form-group">
        <label asp-for="Name" class="font-weight-bold"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <!-- Address -->
    <div class="form-group">
        <label asp-for="Address" class="font-weight-bold"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address"></span>
    </div>

    <!-- Submit -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>