@model Lab5.Models.Patient
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<dl class="container">
    <!-- Name -->
    <div class="row form-group">
        <dt class="col-sm-3 text-sm-right font-weight-bold">Name</dt>
        <dd class="col-sm-3 text-secondary">@Model.Name</dd>
    </div>

    <!-- Address -->
    <div class="row form-group">
        <dt class="col-sm-3 text-sm-right font-weight-bold">Address</dt>
        <dd class="col-sm-3 text-secondary">@Model.Address</dd>
    </div>

    <!-- BirthDate -->
    <div class="row form-group">
        <dt class="col-sm-3 text-sm-right font-weight-bold">BirthDate</dt>
        <dd class="col-sm-3 text-secondary">@Model.BirthDate.Date.ToString("d")</dd>
    </div>

    <!-- Gender -->
    <div class="row form-group">
        <dt class="col-sm-3 text-sm-right font-weight-bold">Gender</dt>
        <dd class="col-sm-3 text-secondary">@Model.Gender</dd>
    </div>

</dl>